@import"_color.scss";
@import"_font.scss";

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    span, a{
        color: $laranja;
    }
    p, #footer{
       color: $paragrafo;
       font-size: 14px;
       line-height: 28px;
    }
}
h1{
    font-family: 'Inter', sans-serif;
    color: $titulo;
    margin-bottom: 32px;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
     span{
        font-weight: bold;
     }
}
#hero{
    width: 592px;
    margin: 0 auto 72px;
    img{
        margin-bottom: 72px;
    }
    
   }
   #footer a + a{
    margin-left: 28px;
   }
#line{
    width: 568px;
    height: 0px;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}
#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}